# logs
yarn-error.log
*.log
npm-debug.log*
package-lock.json
tsconfig.tsbuildinfo

# dependencies
/node_modules

# testing
/coverage

# production
/.next
/build

# VS Code
.vscode

# jest junit reports
reports

# Optional npm cache directory
.npm

# generated 
src/types/graphcms-schema.d.ts

# misc
.git
.DS_Store
.env
.env.*

