@font-face {
  font-family: 'Futura';
  font-weight: normal;
  src: url('Futura-Medium.woff2') format('woff2'),
       url('Futura-Medium.woff') format('woff'),
       url('Futura-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: bold;
  src: url('Futura-Bold.woff2') format('woff2'),
       url('Futura-Bold.woff') format('woff'),
       url('Futura-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: normal;
  src: url('Inconsolata.woff2') format('woff2'),
       url('Inconsolata.woff') format('woff'),
       url('Inconsolata.ttf')  format('truetype');
}
